<div class="card">
    <img class="image" [src]="datoEntrante?.img" style="width:100%" alt="img-card">
    <div class="discosb">
        <div class="title">{{datoEntrante?.title}}</div>
        <div class="sub-title">{{datoEntrante?.subtitle}}</div>
        <div class="des-cripcion">{{datoEntrante?.descripcion}}</div>
        <div class="da-to">{{datoEntrante?.dato}}</div>
        <div class="da-no">{{datoEntrante?.an}}</div>
        <button class="button-primary">Comprar</button>
    </div>
</div>